.box{
    width: 80px;
    height: 80px;
    background-color: aqua;
}

/* @keyframes bounceIn {
    0% {
        position: relative;
        left: 500px;
    }
  
  } */
.box:hover{
    /* animation: bounceIn 2s; */
    position: relative;
    left: 150px;
}